<section class="prompt">
    <h1>Sign up</h1>
    <form action="/signup" method="post">
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
        </div>
        <button type="submit">Sign up</button>
    </form>
    <p>이미 아이디가 있다면<a href="/login">login</a></p>
</section>