*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    line-height: 1.5;
    letter-spacing: -1px;
    height: auto;
}
body{
    background-color: rgb(255, 255, 255);
}
#container{
    width: 800px;
    margin: 2rem auto;
    padding:16px;
    border:5px double rgb(255, 223, 253);
    border-radius: 15px;
}
.justify-conetent-between{
    justify-content: space-between;
}
.text-center{
    text-align: center;
}
.flex{
    display:flex;
}
.title{
    color:rgb(224, 81, 141)
}
.wrap{
    flex-wrap:wrap;
}

header{
    margin-bottom: 1.5rem;
}

.images{
    
    width: 768px;
    
}
p{
    margin: 16px 0;
}
img{
    display:block;
    width: 50%;
    height: 384px;
    object-fit: cover;
}
mark{
    background-color: rgb(255, 223, 253);
}